* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: fit-content;
  max-width: 70vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
  .container {
    position: static;
    transform: translate(0, 0);
    max-width: 100%;
    overflow: auto;
  }

  .overlay {
    display: none;
  }
}

.grey {
  background: #7c7c7c;
}

.quote {
  color: black;
}
